services:
  # BACKEND
  - type: web
    name: backend-vkr
    runtime: docker
    rootDir: backend
    plan: free
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod

  # FRONTEND
  - type: web
    name: frontend-vkr
    runtime: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist # <--- ESTO CORRIGE EL ERROR DE LA IMAGEN
    routes:
      - type: rewrite
        source: /*
        destination: /index.html