/* ===== FIX CRÍTICO DE LAYOUT ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%; /* evitar estiramiento forzado */
  margin: 0;
  overflow: auto;   /* permitir scroll si es necesario */
}

@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* ---------- BUTTONS ---------- */
  .btn {
    @apply w-full font-semibold py-2.5
           rounded-xl /* más curvo que rounded-lg */
           transition-all duration-300
           active:scale-[0.98]
           focus:outline-none
           focus:ring-0;
    border: 0;
    min-height: 44px;
    line-height: 1.2;
  }

  .btn-primary {
    @apply bg-orange-700 text-white hover:bg-orange-800;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    -webkit-appearance: none;
  }

    .btn-primary-blue {
    @apply text-white;
    background-color: #2431E7;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }

  .btn-primary-blue:hover {
    background-color: #1E28C7;
  }

  .btn-primary-blue:disabled {
    background-color: #A5A8F0;
    cursor: not-allowed;
    opacity: 0.8;
  }

  .btn-outline {
    border: 1px solid #CAC4D0;
    @apply text-gray-700 bg-white
           hover:bg-gray-100
           text-sm font-medium;
  }

  /* ---------- INPUTS ---------- */
  .input-base {
    @apply w-full px-4 py-2.5 rounded-xl /* más curvo */
           text-sm bg-white
           border border-gray-300
           focus:outline-none
           transition-all duration-200;
  }

  .input-normal {
    @apply focus:border-orange-600
           focus:ring-1 focus:ring-orange-500/30;
  }

   .input-blue {
    @apply focus:border-[#2431E7]
           focus:ring-1 focus:ring-[#2431E7]/30;
  }
  .input-error {
    @apply border-red-400
           focus:ring-2 focus:ring-red-500/30
           focus:border-red-500;
  }

  /* ---------- LABELS ---------- */
  .label {
    @apply text-sm font-medium text-gray-700 mb-1 mt-2;
  }
  .label-error {
    @apply text-red-600;
  }

}

@layer utilities {


  /* DANGER */
  .text-danger {
    color: #f3023e;
  }

  .bg-danger {
    background-color: #f3023e;
  }

  .border-danger {
    border-color: #f3023e;
  }


  /* WARNING */
  .text-warning {
    color: #f8c920;
  }

  .bg-warning {
    background-color: #f8c920;
  }

  .border-warning {
    border-color: #f8c920;
  }

  /* SUCCESS */
  .text-success {
    color: #12d025;
  }

  .bg-success {
    background-color: #12d025;
  }

  .border-success {
    border-color: #12d025;
  }

}
